.room-container {
  background: blue;
  opacity: 1;
  height: 960px;
}

.title {
  display: inline-block;
  margin-right: 15px;
  height: 36px;
  margin-right: 20px;
  margin-bottom: 0;
  vertical-align: bottom;
}

.chat-title {
  width: 100%;
  }

.chat-container {
  width: 100%;
  height: 650px;
  overflow: scroll;
}
.chat-input {
  width: 100%;
  overflow: scroll;
}

.room-list {
  margin-top: 15px;
}

.rooms {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.message-info {
  display: inline;
}

i.message-info {
  float: right;
  padding-right: 5%;
}

.text-input {
  float: center;
  width: 100%;
}

.button {
  background-color: blue;
}